# Selling Partner API Credentials
SP_CLIENT_ID=
SP_CLIENT_SECRET=
SP_REFRESH_TOKEN=

# SP-API Configuration
SP_MARKETPLACE_ID=ATVPDKIKX0DER
SP_AWS_REGION=us-east-1

# Application Settings
SP_REQUEST_TIMEOUT=300000
LOG_LEVEL=info
API_KEY=your_secret_api_key